@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  background: #191919 ;
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #f3f3f3;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f3f3f3;
}
.navbar h1 {
  color: #f3f3f3;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #d2d2d2;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}


$grey: rgb(68, 76, 97);
$blue: rgb(8, 126, 173);
$black: #191919;
$white: #FDFDFD;


